<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script></head>
    <title>Counter2</title>
</head>
<body>
    <h1>Counter2</h1>
    <pre><code id="code-editor" class="language-js"  {% if not is_read_only %} contenteditable="true"  {% endif %}>/**
 * @param {integer} init
 * @return { increment: Function, decrement: Function, reset: Function }
 */
var createCounter = function(init) {
    const initial = init;
    let cur = init;
    function increment(){
    }
    function decrement(){
    }
    function reset(){
        cur = initial;
    }
};

/**
 * const counter = createCounter(5)
 * counter.increment(); // 6
 * counter.reset(); // 5
 * counter.decrement(); // 4
 */</code></pre>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
   <script>
        const socket = io();

        // Function to update text
        function updateText() {
            var text = document.getElementById("code-editor").innerHTML;
            socket.emit('text_update', { text: text });
        }
 {% if is_read_only %}
        // Function to handle text update from server
        socket.on('update_text', function(data) {
            document.getElementById("code-editor").innerHTML = data.text;
        });
 {% endif %}
        // Add event listener to the editor to update the text on input
        document.getElementById("code-editor").addEventListener("input", updateText);
    </script>
</body>
</html>
